{% extends 'base.html' %}

{% block content %}
{% load static %}


<section class="section-content padding-y bg">
    <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
        <div class="card">
            <div class="row no-gutters">
                <aside class="col-md-6">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <a href="#"><img src="{{product.image.url}}"></a>
                        </div> <!-- img-big-wrap.// -->

                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <main class="col-md-6 border-left">

                    <form action="{% url 'add_cart' product.id %}" method="POST">
                        {% csrf_token %}

                        <article class="content-body">

                            <h2 class="title">{{product.name}}</h2>

                            <div class="mb-3">
                                <var class="price h4">${{product.stock}}</var>
                                <del>{{product.price}}</del>
                            </div>

                            <p>{{product.desc}}</p>


                            <hr>
                            <div class="row">
                                <div class="item-option-select">
                                    <h6>
                                        Выберите цвет</h6>
                                    <select name="color" class="form-control" required>
                                        <option value="Choose Color" disabled selected>Выберите цвет</option>
                                        {% for i in product.variation_set.colors %}
                                        <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div> <!-- row.// -->
                            <div class="row">
                                <div class="item-option-select" >
                                    <h6>Выберите размер</h6>
                                    <select name="size" class="form-control" >
                                        <option value="Choose Size" disabled selected>Выберите размер</option>
                                        {% for i in product.variation_set.sizes %}
                                        <option value="{{i.variation_value | lower }}">{{i.variation_value | capfirst}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div> 
                            <hr>
                            <button  type="submit"  class="btn  btn-primary"> <span
                                    class="text">Добавить в корзину</span> <i class="fas fa-shopping-cart"></i> </button>
                        </article> <!-- product-info-aside .// -->

                    </form>
                </main> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
        <!-- ============================ COMPONENT 1 END .// ================================= -->

        <br>

        <div class="row">
            <div class="col-md-9">

                
                <form action="{% url 'submit_review' product.id %}" method="POST">
                    {% csrf_token %}

                    <h5>Напишите свой отзыв</h5>
                    <label > Какой рейтинг он удостоин вами</label>
                    <div class="rate">
                        <input type="radio" name="rating" id="rating10" value="5" required><label for="ratinf10" title="5">5</label>
                        <input type="radio" name="rating" id="rating9" value="4.5" required><label for="ratinf9" title="4.5" class="half">4.5</label>
                        <input type="radio" name="rating" id="rating8" value="4" required><label for="ratinf8" title="4">4</label>
                        <input type="radio" name="rating" id="rating7" value="3.5" required><label for="ratinf7" title="3.5" class="half">3.5</label>
                        <input type="radio" name="rating" id="rating6" value="3" required><label for="ratinf6" title="3">3</label>
                        <input type="radio" name="rating" id="rating5" value="2.5" required><label for="ratinf5" title="2.5" class="half">2.5</label>
                        <input type="radio" name="rating" id="rating4" value="2" required><label for="ratinf4" title="2" >2</label>
                        <input type="radio" name="rating" id="rating3" value="1.5" required><label for="ratinf3" title="1.5" class="half">1.5</label>
                        <input type="radio" name="rating" id="rating2" value="1" required><label for="ratinf2" title="1">1</label>
                        <input type="radio" name="rating" id="rating1" value="0.5" required><label for="ratinf1" title="0.5" class="half">0.5</label>
                    </div>
                    <div>
                        title
                        <input type="text" class="form-control" name="subject" id="">
                        <br>
                        <textarea name="review" class="form-control" rows="10"></textarea>
                        <br>
                        {% if user.is_authenticated %}
                            {% if orderproduct %}
                                <input type="submit" value="Submit Review" class="btn btn-primary">
                            {% else %}
                                <p> Bы должны приобрести этот продукт, чтобы опубликовать отзыв</p>
                            {% endif %}
                        {% else %}
                        <p>Пожаlоста авторизуйтесь</p>
                        {% endif %}
                        <br>
                    </div>
                </form>
                <br>

                <header class="section-heading">
                    <h3>
                        Отзывы клиентов </h3>

                </header>
                {% for i in reviews %}
                <article class="box mb-3">
                    <div class="icontext w-100">
                        <img src="{% static './images/avatars/avatar1.jpg' %}" class="img-xs icon rounded-circle">
                        <div class="text">
                            <span class="date text-muted float-md-right">{{i.updated_at}} </span>
                            <h6 class="mb-1">{{i.user.first_name}}</h6>

                        </div>
                    </div> <!-- icontext.// -->
                    <div class="mt-3">
                        <h6>{{i.subject}}</h6>
                        <p>
                            {{i.review}}
                        </p>
                    </div>
                </article>
                {% endfor %}



            </div> <!-- col.// -->
        </div> <!-- row.// -->


    </div> <!-- container .//  -->
</section>
{% endblock %}